<h1>Listing Rides</h1>

<% @rides.each do |ride| %>

  <!-- Google static maps API -->
  <img src="https://maps.googleapis.com/maps/api/staticmap?size=620x320&path=weight:5%7Ccolor:blue%7Cenc:<%= ride['map']['summary_polyline'] %>"
  alt="Google Map of the ride"
  class="listing-image">

  <h2><%= link_to ride['name'], ride_path(:id => ride['id']) %></h2>
  
  <% ride_date = DateTime.parse(ride['start_date_local']) %>
  <p><%= ride_date.strftime("Ridden on %A, %B %e, %Y") %></p>
 
  <ul>
  	<li>Start Time: <%= ride_date.strftime("%l:%M %P") %></li>
  	<li>Riding Time: <%= format_time_h_mm(ride['moving_time']) %></li>
  	<li>Distance: <%= format_km(ride['distance']) %></li>
  </ul>

  <%= link_to 'See ride details', ride_path(:id => ride['id']) %>  
  <hr />
<% end %>

<br>
