<ul class="ride-list">
<% @rides.each do |ride| %>
  <% ride_date = DateTime.parse(ride['start_date_local']) %>

  <%= link_to ride_path(:id => ride['id']) do %>
    <li class="ride-list-item btn btn-default btn-block">
      <h3><%= ride_date.strftime("%A, %B %e") %></h3>
      <h1><%= link_to ride['name'], ride_path(:id => ride['id']) %></h1>
      <div class="mini-stats">
        <span><%= format_km(ride['distance']) %></span>
        <span><%= format_time_h_mm(ride['moving_time']) %></span>
      </div>
    </li>
  <% end %>

<% end %>
</ul>