<p id="notice"><%= notice %></p>

<h1>Listing Rides</h1>

<% @rides.each do |ride| %>
  <h3>
  	<%= link_to ride['name'], ride_path(:id => ride['id']) %>
  </h3>
  
  <ul>
  	<li>ID: <%= ride['id'] %></li>
  	<li>Distance: <%= ride['distance'] %> meters</li>
  	<li>Riding Time: <%= ride['moving_time'] %> seconds</li>
  	<li>Total Time: <%= ride['elapsed_time'] %> seconds</li>
  	<li>total_elevation_gain: <%= ride['total_elevation_gain'] %> meters</li>
  	<li>start_latlng: <%= ride['start_latlng'] %></li>
  	<li>end_latlng: <%= ride['end_latlng'] %></li>
  	<li>
  		<img src="https://maps.googleapis.com/maps/api/staticmap?size=50x50&path=weight:3%7Ccolor:red%7Cenc:<%= ride['map']['summary_polyline'] %>">
  	</li>
  	<li>average_speed: <%= ride['average_speed'] %></li>
  	<li>max_speed: <%= ride['max_speed'] %></li>
  	<li>average_temp: <%= ride['average_temp'] %></li>
  	<li>average_watts: <%= ride['average_watts'] %></li>
  	<li>kilojoules: <%= ride['kilojoules'] %></li>
  	<li>average_heartrate: <%= ride['average_heartrate'] %></li>
  	<li>max_heartrate: <%= ride['max_heartrate'] %></li>
	

	<li>average_watts: <%= ride['average_watts'] %></li>
  </ul>
  
  <hr />
<% end %>

<br>
