<p id="notice"><%= notice %></p>

<% @rides.each do |ride| %>
  <h3>
  	<%= link_to ride['name'], ride_path(:id => ride['id']) %>
  </h3>
  
  <ul>
  	<li>Date: <%= ride['start_date_local'] %> (<%= ride['timezone'] %>)</li>
  	<li>Distance: <%= ride['distance'] %> meters</li>
  	<li>Riding Time: <%= ride['moving_time'] %> seconds</li>
  	<li>
<!--   	Google static maps API -->
  		<img src="https://maps.googleapis.com/maps/api/staticmap?size=50x50&path=weight:3%7Ccolor:red%7Cenc:<%= ride['map']['summary_polyline'] %>">
  	</li>
  </ul>
  
  <hr />
<% end %>

<br>
