<% provide(:title, @ride['name']) %>

<img src="https://maps.googleapis.com/maps/api/staticmap?size=500x200&path=weight:3%7Ccolor:red%7Cenc:<%= @ride['map']['summary_polyline'] %>">

<h1><%= @ride['name'] %></h1>
<p class="ride-description"><%= @ride['description'] %></p>

<% if @ride['total_photo_count'] > 0 %>
	<img src="<%= @ride['photos']['primary']['urls']['600'] %>">
<% end %>	

<h2>Ride Stats</h2>
<ul>
    <li>Distance: <%= format_km(@ride['distance']) %></li>
    <li>Elevation Gain: <%= @ride['total_elevation_gain'].round() %> m</li>
  	<li>Riding Time: <%= format_time_h_mm(@ride['moving_time']) %></li>
  	<li>Total Time: <%= format_time_h_mm(@ride['elapsed_time']) %></li>
   
  	<li>Average Speed: <%= format_speed(@ride['average_speed']) %></li>
  	<li>Top Speed: <%= format_speed(@ride['max_speed']) %></li>

    <li>Average Temperature: <%= @ride['average_temp'] %><%= raw ' &deg;C' %></li>
    <li>Average Power: <%= @ride['average_watts']%> W</li>
    <li>Energy Burned: <%= @ride['calories']%> Calories</li>
    <li>Average Cadence: <%= @ride['average_cadence']%> revolutions/minute</li>


    <li>Average Heart Rate: <%= @ride['average_heartrate']%> beats/minute</li>
    <li>Peak Heart Rate: <%= @ride['max_heartrate']%> beats/minute</li>


    <li>start_latlng: <%= @ride['start_latlng'] %></li>
    <li>end_latlng: <%= @ride['end_latlng'] %></li>
    
</ul>

<%= link_to 'See more ride details on Strava', 
            'https://www.strava.com/activities/' + @ride['id'].to_s,
            :target => "_blank" %> 

