<% provide(:title, @ride['name']) %>

<% ride_date = DateTime.parse(@ride['start_date_local']) %>

</div> <!-- close container -->

<img class="hero-map" src="https://maps.googleapis.com/maps/api/staticmap?size=640x200&scale=2&path=weight:3%7Ccolor:red%7Cenc:<%= @ride['map']['summary_polyline'] %>">

<div class="container">
<h1><%= @ride['name'] %></h1>
<p class="ride-description"><%= @ride['description'] %></p>

<% if @ride['total_photo_count'] > 0 %>
	<img src="<%= @ride['photos']['primary']['urls']['600'] %>">
<% end %>	

<h2>Ride Stats</h2>
<table class="table table-responsive table-striped">
    <tr><td>Distance</td><td><%= format_km(@ride['distance']) %></td>
    <tr><td>Elevation Gain</td><td><%= @ride['total_elevation_gain'].round() %> m</td>
    <tr><td>Start Time</td><td><%= ride_date.strftime("%l:%M %P") %></td>
  	<tr><td>Riding Time</td><td><%= format_time_h_mm(@ride['moving_time']) %></td>
  	<tr><td>Total Time</td><td><%= format_time_h_mm(@ride['elapsed_time']) %></td>
   
  	<tr><td>Average Speed</td><td><%= format_speed(@ride['average_speed']) %></td>
  	<tr><td>Top Speed</td><td><%= format_speed(@ride['max_speed']) %></td>

    <tr><td>Average Temperature</td><td><%= @ride['average_temp'] %><%= raw ' &deg;C' %></td>
    <tr><td>Average Power</td><td><%= @ride['average_watts']%> W</td>
    <tr><td>Energy Burned</td><td><%= @ride['calories']%> Calories</td>
    <tr><td>Average Cadence</td><td><%= @ride['average_cadence']%> rpm</td>


    <tr><td>Average Heart Rate</td><td><%= @ride['average_heartrate']%> bpm</td>
    <tr><td>Peak Heart Rate</td><td><%= @ride['max_heartrate']%> bpm</td>


    <tr><td>start_latlng</td><td><%= @ride['start_latlng'] %></td>
    <tr><td>end_latlng</td><td><%= @ride['end_latlng'] %></td>
</table>

<%= link_to 'See more ride details on Strava', 
            'https://www.strava.com/activities/' + @ride['id'].to_s,
            :target => "_blank" %> 

