<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Bike Trip across Canada: Cycling from Vancouver, British Columbia to St. John's, Newfoundland via Victoria, BC, in the summer of 2015">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/favicons' %>
    <%= render 'layouts/analytics' %>
  </head>
  <body>
	<%=	render 'layouts/unsupported_browser' %>
    <%=	render 'layouts/header' %>
    
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>